---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="hero">
    <p>Have questions or want to discuss a project?</p>
    <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
      <form
      data-netlify="true"
      netlify-honeypot
      name="feedback"
      method="POST"
      action="/success"
    >
   
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="feedback" />
        <div class="grid gap-4">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label for="first-name"
                ><input
                  type="text"
                  id="first-name"
                  placeholder="First Name"
                  class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
                  name="first-name"
                  required=""
                /></label
              >
            </div>
            <div>
              <label for="last-name"
                ><input
                  type="text"
                  id="last-name"
                  placeholder="Last Name"
                  class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
                  name="last-name"
                  required=""
                /></label
              >
            </div>
          </div>
          <label for="email"
            ><input
              type="email"
              id="email"
              placeholder="Email"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              name="email"
              required=""
            /></label
          >
          <label for="phone"
            ><input
              id="phone"
              placeholder="Phone Number"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              name="phone"
              required=""
            /></label
          >
          <label for="company"
            ><input
              id="company"
              placeholder="Company"
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
              name="company"
              required=""
            /></label
          >
          <label for="message">
            <textarea
              id="message"
              placeholder="Details"
              name="message"
              required=""
              class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-sm text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-200 focus:outline-none focus:ring focus:ring-neutral-400 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-600 dark:bg-neutral-700/30 dark:text-neutral-300 dark:placeholder:text-neutral-400 dark:focus:ring-1"
            ></textarea>
          </label>
          <div class="mt-4 grid">
            <button
              class="inline-flex w-full items-center justify-center gap-x-2 rounded-lg border border-transparent bg-yellow-400 px-4 py-3 text-sm font-bold text-neutral-700 outline-none ring-zinc-500 transition duration-300 hover:bg-yellow-500 focus-visible:ring disabled:pointer-events-none disabled:opacity-50 dark:ring-zinc-200 dark:focus:outline-none 2xl:text-base"
              type="submit"
            >
              Send Message
            </button>
          </div>
        </div>
    </div>

  </main>
</BaseLayout>

<style>
  .hero {
    margin-top: 10em;
  }
  .feedback-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
  }
  label {
    font-size: 16px;
  }
  input,
  textarea,
  button {
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: #2bdcd2;
    border: 1px solid #2bdcd2;
    color: #1e293b;
    font-size: 16px;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 60ch;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 20px;
  }
</style>
